.ContactContainer {
    position: fixed;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 1rem;
    z-index: 5;
}

@media screen and (max-width: 996px) {
    .ContactContainer {
        position: fixed;
        right: 0.5rem;
        bottom: 0.5rem;
        z-index: 5;
    }
}

.weChat {
    width: 3.75rem;
    cursor: pointer;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    margin: 1rem;
    background-color: var(--ifm-table-head-color);
    color: var(--ifm-color-primary);
    border-radius: 3rem;
    box-shadow: var(--ifm-color-primary-shadow) 0px 0px 6px 0px;
}
.telContainer {
    width: 3.75rem;
    cursor: pointer;
    height: 3.75rem;
    display: flex;
    justify-content:flex-end;
    text-align: center;
    align-items: center;
    margin: 1rem;
    background-color: var(--ifm-table-head-color);
    color: var(--ifm-color-primary);
    border-radius: 3rem;
    box-shadow: var(--ifm-color-primary-shadow) 0px 0px 6px 0px;
}

.telePhone{
    width: 3.75rem;
    cursor: pointer;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    border-radius: 3rem;
}
.telContainer>a{
    font-size: 0;
    float: left;
}
.telePhone>i {
    font-size: 1.875rem;
}
.telContainer:hover .telePhone{
    color: var(--ifm-table-head-color);
    transition: 0.5s;
    background-color: var(--ifm-color-primary);
}

@keyframes long {
    from {
        width: 3.75rem;
    }

    to {
        width: 18rem;
    }
}
.telContainer:hover{
    transition: all 0.4s ease 0s;
    animation-name: long;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    height: 3.75rem;
}

@keyframes fontBig {
    from {
        font-size: 0rem;
    }

    to {
        font-size: 1.875rem;
    }
}

.telContainer:hover a{
    margin-right: 0.5rem;
    /* transition: all 0.4s ease 0s; */
    animation-delay: 0.2s;
    animation-name: fontBig;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.telContainer>a:hover{
    text-decoration: none;
}


.weChat>i {
    font-size: 1.875rem;
}

.contactImg {
    width: 0;
    height: 0;
    /* filter: hue-rotate(180deg) brightness(2) saturate(1.2); */
}
html[data-theme='dark'] .contactImg {
    filter: hue-rotate(180deg) brightness(2) saturate(1.2);
}

.weChat:hover i {
    font-size: 0;
}

.weChat:hover .contactImg {
    color: var(--ifm-table-head-color);
    transition: all 0.4s ease 0s;
    animation-name: imgbig;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.weChat:hover {
    /* box-shadow: none; */
    /* background-color: var(--ifm-color-primary); */
    color: var(--ifm-table-head-color);
    transition: all 0.4s ease 0s;
    animation-name: big;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    border-radius: 0.625rem;
}

@keyframes big {
    from {
        width: 3.75rem;
        height: 3.75rem;
    }

    to {
        width: 12.5rem;
        height: 12.5rem;
    }
}

@keyframes imgbig {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 12rem;
        height: 12rem;
    }
}
